$primary: #ff661f;
$secondary: #ff671f;

$black: #091c35; 
$heading: #081b33;
$nav-item: #002a3a;

$line: #bbb;
$light: #0000000d;

/* Headings */
$primary-heading-color: $secondary;
$heading-color: $heading;

/* Paragraph / Text */
$text-color: #081b33cc;
$card-text-color: $black;
$highlighted-text: #e54a35;

/* Primary Button */
$primary-button-bg: $secondary;
$primary-button-color: #fff;

/* Form Button */
$form-background: #0000000d;
$button: #272727;
$button-text: #fff;